::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "GraphikMedium";
    src: url('../fonts/Graphik/Graphik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "GraphikRegular";
    src: url('../fonts/Graphik/Graphik-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    background: #181818;
}

.header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    align-self: stretch;

    .header__navbar {
        width: 69.43%;

        height: 119px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__navbar-menu {
            display: flex;
            align-items: center;
            gap: 31px;

            .header__navbar_menu-item {
                cursor: pointer;
                display: flex;
                padding: 10px;
                align-items: center;

                color: #FFF;
                text-align: center;

                font-family: "GraphikMedium";
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.2px;
                transition: all 0.4s ease;
            }

            .header__navbar_menu-item:hover {
                color: #7a699c;
            }
        }

        .header__navbar-button {
            cursor: pointer;
            display: inline-flex;
            height: 52px;
            padding: 20px 1.88%;
            align-items: center;

            box-sizing: border-box;
            border: 1px solid #FFF;
            box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
            background: #181818;
            color: #FFF;
            font-family: "GraphikMedium";
            font-size: 17px;
            line-height: 25px;
            letter-spacing: 0.2px;
        }

        .header__navbar-button:hover {
            border: 1px solid #dedede;
            color: #dedede;
            transform: scale(1.1);
        }
    }

    .header__navbar-mobile {
        display: none;
    }

    .header__text {
        display: flex;
        padding: 50px 0px;
        flex-direction: column;
        align-items: center;
        gap: 17px;
        align-self: stretch;


        .header__text-info {
            width: 45%;


            display: flex;
            padding: 10px;
            align-items: center;
            gap: 10px;

            color: #FFF;
            text-align: center;

            font-family: "GraphikMedium";
            font-size: 80px;
            line-height: 88px;
            letter-spacing: 0.2px;
        }

        .header__text-slogan {
            width: 40%;

            font-family: "GraphikRegular";
            font-size: 20px;
            line-height: 30px;
        }
    }

    .header__buttons {
        display: flex;
        align-items: center;
        gap: 35px;

        .header__button {
            cursor: pointer;
            display: flex;
            padding: 20px 40px;
            align-items: center;

            color: #FFF;
            font-family: "GraphikMedium";
            font-size: 17px;
            line-height: 25px;
            letter-spacing: 0.2px;
        }

        .header__button-try {
            background: #4452FE;
            border: none;
            box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
        }

        .header__button-try:hover {
            background: #424fe3;
            color: #dedede;
            transform: scale(1.1);
        }

        .header__button-learn {
            box-sizing: border-box;
            border: 1px solid #FFF;
            background: #181818;
            box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
        }

        .header__button-learn:hover {
            border: 1px solid #dedede;
            color: #dedede;
            transform: scale(1.1);
        }
    }

    .header__screens {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 20%, #0E0E0E 90.15%);

        .header__screens-img {
            width: 100%;
            z-index: -1;
        }
    }
}

.main {
    display: flex;
    padding: 62px 3.16%;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;

    .main__container-future {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        align-self: stretch;

        .main__container-future_heading {
            width: 40.67%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 27px;

            .main__container-future_title {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #FFF;

                font-family: "GraphikRegular";
                font-size: 52px;
                line-height: 62px;
                letter-spacing: 0.2px;
            }

            .main__container-future_slogan {
                display: flex;
                padding: 0px 1.66%;
                align-items: center;
                gap: 10px;

                color: #FFF;
                text-align: center;

                font-family: "GraphikRegular";
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.2px;
            }
        }

        .main__container-future_panel {
            display: flex;
            align-items: center;
            gap: 27px;
            justify-content: center;

            .main__container-future_panel-images {
                width: 52.59%;
                height: 759px;
            }

            .main__container-future_panel-img {
                width: 100%;
            }

            .main__container-future_panel-rowContent {
                width: 18%;

                display: flex;
                padding: 20px 1.36%;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
                min-width: 249px;

                .main__container-future_panel-rowContent_block {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .main__container-future_panel-rowContent_block-title {
                        display: flex;
                        align-items: flex-start;
                        width: 80%;



                        .rowContent_img {
                            display: flex;
                            padding: 19px 1.12%;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 10px;
                        }

                        .main__container-future_panel-rowContent_block-title_desc {
                            display: flex;
                            padding: 10px 3.72%;
                            align-items: center;
                            gap: 10px;

                            color: #FFF;

                            font-family: "GraphikMedium";
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: 0.1px;
                        }
                    }

                    .main__container-future_panel-rowContent_block-paragraph {
                        display: flex;
                        padding: 10px 3.72%;
                        align-items: center;
                        gap: 10px;

                        color: #FFF;

                        font-family: "GraphikRegular";
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                    }
                }
            }
        }
    }

    .main__container-contents {
        display: flex;
        padding: 50px 10.9%;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        gap: 44px;

        .main__container-contents_heading {
            width: 50.67%;

            display: flex;
            flex-direction: column;
            align-items: center;

            .main__container-contents_title {
                display: flex;
                padding: 10px 1.4%;
                align-items: center;
                gap: 10px;

                color: #FFF;

                font-family: "GraphikRegular";
                font-size: 52px;
                line-height: 62px;
                letter-spacing: 0.2px;
            }

            .main__container-contents_slogan {
                display: flex;
                padding: 10px 1.3%;
                align-items: center;
                gap: 10px;

                color: #FFF;
                text-align: center;

                font-family: "GraphikRegular";
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.2px;
            }
        }

        .main__container-contents_cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 33px;

            .main__container-contents_cards-item {
                display: flex;
                width: 43.87%;

                padding: 40px 0px;
                flex-direction: column;
                align-items: center;
                gap: 57px;

                box-sizing: border-box;
                border-radius: 10px;
                border: 1px solid #D3D3D3;
                background: #FFF;

                box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

                .main__container-contents_cards-item_heading {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    width: 56.9%;

                    .main__container-contents_cards-item_heading-title {
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        gap: 10px;

                        color: #000;
                        text-align: center;

                        font-family: "GraphikMedium";
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0.1px;
                    }

                    .main__container-contents_cards-item_heading-paragraph {
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        gap: 10px;

                        color: #5C5C5C;
                        text-align: center;

                        font-family: "GraphikRegular";
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                    }
                }

                .main__container-contents_cards-item_button {
                    cursor: pointer;
                    display: flex;
                    height: 52px;
                    padding: 30px 9.66%;
                    align-items: center;
                    background: #4452FE;
                    border: none;

                    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
                    gap: 10px;
                    color: #FFF;

                    font-family: "GraphikMedium";
                    font-size: 17px;
                    line-height: 25px;
                    letter-spacing: 0.2px;
                }

                .main__container-contents_cards-item_button:hover {
                    transform: scale(1.1);
                    background: #424fe3;
                    color: #dedede;
                }

                .Notifications {
                    height: 276px;
                }

                .image__screen {
                    width: 100%;
                }
            }

            .changing {
                gap: 30px;
            }

            .main__container-contents_cards-item:hover {
                transform: scale(1.04);
            }
        }
    }

    .main__container-gallery {
        display: flex;
        padding: 50px 10.9%;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: 44px;

        .main__container-gallery_heading {
            width: 52.67%;

            display: flex;
            flex-direction: column;
            align-items: center;

            .main__container-gallery_title {
                display: flex;
                padding: 10px 1.75%;
                align-items: center;
                gap: 10px;
                color: #FFF;

                font-family: "GraphikRegular";
                font-size: 52px;
                line-height: 62px;
                letter-spacing: 0.2px;
            }

            .main__container-gallery_slogan {
                display: flex;
                padding: 10px 1.75%;
                align-items: center;
                gap: 10px;

                color: #FFF;
                text-align: center;

                font-family: "GraphikRegular";
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.2px;
            }
        }

        .main__container-gallery_small-cards {
            display: flex;
            align-items: stretch;
            gap: 33px;

            .main__container-gallery_small-card {
                width: 100%;
                display: flex;
                align-items: center;

                box-sizing: border-box;
                border-radius: 12px;
                box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
            }

        }

        .main__container-gallery_button {
            cursor: pointer;
            display: flex;
            height: 52px;
            padding: 20px 3.81%;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            background: #181818;
            border: 1px solid #FFF;
            box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

            color: #FFF;
            font-family: "GraphikMedium";
            font-size: 17px;
            line-height: 25px;
            letter-spacing: 0.2px;
        }

        .main__container-gallery_button:hover {
            border: 1px solid #dedede;
            color: #dedede;
            transform: scale(1.1);
        }
    }

    .main__container-partners {
        display: flex;
        padding: 50px 1.36%;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        align-self: stretch;

        .main__container-partners_heading {
            width: 42.67%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .main__container-partners_title {
                display: flex;
                padding: 10px;
                align-items: center;
                gap: 10px;

                color: #FFF;
                font-family: "GraphikRegular";
                font-size: 52px;
                line-height: 62px;
                letter-spacing: 0.2px;
            }

            .main__container-partners_slogan {
                display: flex;
                padding: 10px;
                align-items: center;
                gap: 10px;

                color: #FFF;
                text-align: center;
                font-family: "GraphikRegular";
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.2px;
            }
        }

        .main__container-partners_brand {
            display: grid;
            grid-template-columns: repeat(6, auto);
            align-items: center;
            gap: 74px;
        }

        .main__container-partners_brand-icons:hover {
            transform: scale(1.1);
        }

        .main__container-partners_button {
            display: flex;
            height: 52px;
            padding: 20px 2.78%;
            align-items: center;
            box-sizing: border-box;
            border: 1px solid #FFF;
            background: #181818;
            box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
            gap: 10px;
            color: #FFF;

            font-family: "GraphikMedium";
            font-size: 17px;
            line-height: 25px;
            letter-spacing: 0.2px;
        }

        .main__container-partners_button:hover {
            border: 1px solid #dedede;
            color: #dedede;
            transform: scale(1.1);
        }
    }

    .main__container-testimonials {
        display: flex;
        padding: 50px 1.36%;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        align-self: stretch;

        .main__container-testimonials_title {
            display: flex;
            padding: 10px 0.7%;
            align-items: center;

            color: #FFF;
            font-family: "GraphikRegular";
            font-size: 52px;
            line-height: 62px;
            letter-spacing: 0.2px;
        }

        .main__container-testimonials-review {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 23px;

            .main__container-testimonials-review_items {
                width: 30%;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }

            .main__container-testimonials-review_item {
                display: flex;
                padding: 40px 5.2%;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;

                box-sizing: border-box;
                border-radius: 10px;
                border: 1px solid #DEDEDE;

                .main__container-testimonials-review_item__client {
                    display: flex;
                    align-items: center;
                    gap: 13px;

                    .main__container-testimonials-review_item__client-desc {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .main__container-testimonials-review_item__client-name {
                            display: flex;
                            align-items: center;

                            color: #FFF;
                            font-family: "GraphikMedium";
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.2px;
                        }

                        .main__container-testimonials-review_item__client-job {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            color: #FFF;
                            font-family: "GraphikMedium";
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                        }
                    }
                }

                .main__container-testimonials-review_item__paragraph {
                    display: flex;
                    align-items: center;
                    color: #FFF;
                    font-family: "GraphikRegular";
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                }
            }
        }
    }

    .main__container-advertisement {
        display: flex;
        padding: 80px 0px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .main__container-advertisement_content {
            width: 92.54%;
            display: flex;
            height: 370px;
            align-items: center;
            gap: 86px;

            box-sizing: border-box;
            border-radius: 33px;
            background: #343434;
            box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

            .main__container-advertisement_content-text {
                display: flex;
                width: 45.77%;
                padding: 17px 0 0 5%;
                flex-direction: column;
                align-items: flex-start;
                gap: 37px;

                .main__container-advertisement_content-text_info {
                    display: flex;
                    padding: 0 1.84%;
                    align-items: center;
                    gap: 10px;
                    color: #FFF;

                    font-family: "GraphikRegular";
                    font-size: 52px;
                    line-height: 62px;
                    letter-spacing: 0.2px;
                }

                .main__container-advertisement_content-text_button {
                    cursor: pointer;
                    display: flex;
                    height: 52px;
                    padding: 30px 11.44%;
                    align-items: center;
                    background: #4452FE;
                    border: none;

                    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
                    gap: 10px;
                    color: #FFF;

                    font-family: "GraphikMedium";
                    font-size: 17px;
                    line-height: 25px;
                    letter-spacing: 0.2px;
                }

                .main__container-advertisement_content-text_button:hover {
                    transform: scale(1.1);
                    background: #424fe3;
                    color: #dedede;
                }
            }

            .main__container-advertisement_content-media_img {
                width: 100%;
            }
        }
    }
}

.footer {
    width: 100%;

    display: flex;
    padding: 107px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 199px;

    .footer__links {
        width: 30%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .footer__links-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            width: 21%;

            .footer__links-item_title {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #FFF;

                font-family: "GraphikMedium";
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.1px;
            }

            .footer__links-item-addresses {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 19px;

                .footer__links-item-addresses-item {
                    color: #FFF;
                    font-family: "GraphikMedium";
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                }

                .footer__links-item-addresses-item:hover {
                    transform: scale(1.1);
                    color: #dedede;
                }
            }
        }
    }

    .footer__social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;


        .footer__social_item {
            display: flex;
            align-items: center;

            .footer__social-text {
                display: flex;
                padding: 0px 8px;
                align-items: center;
                color: #FFF;

                font-family: "GraphikMedium";
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.2px;
            }
        }

        .footer__social-Media {
            display: flex;
            padding: 20px 0px;
            align-items: center;
            gap: 24px;
        }
    }
}

@media (max-width:1040px) {

    .header {
        .header__text {
            .header__text-title {
                font-family: "GraphikRegular";
                font-size: 52px;
                line-height: 62px;
            }
        }
    }

    .main {
        .main__container-future {
            .main__container-future_panel {
                flex-direction: column;

                .main__container-future_panel-images {
                    height: auto;
                }
            }
        }
    }

    .main {
        .main__container-partners {
            .main__container-partners_brand {
                grid-template-columns: repeat(3, auto);
            }
        }
    }
}

.main {
    .main__container-advertisement {
        .main__container-advertisement_content {
            background: none;
            flex-direction: column;
            gap: 2px;
            height: auto;

            .main__container-advertisement_content-text {
                display: flex;
                padding: 104px 65px;
                flex-direction: column;
                align-items: center;


                .main__container-advertisement_content-text_info {
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width:900px) {


    .header {
        .header__navbar {
            display: none;
        }

        .header__navbar-mobile {
            position: relative;
            display: flex;
            padding: 15px 16px 14px 24px;
            justify-content: flex-end;
            align-items: center;
            gap: 82px;


            .header__navbar-button {
                cursor: pointer;
                display: inline-flex;
                height: 52px;
                padding: 20px 1.88%;
                align-items: center;

                box-sizing: border-box;
                border: 1px solid #FFF;
                box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
                background: #181818;
                color: #FFF;
                font-family: "GraphikMedium";
                font-size: 17px;
                line-height: 25px;
                letter-spacing: 0.2px;
            }

            .header__navbar-button:hover {
                border: 1px solid #dedede;
                color: #dedede;
                transform: scale(1.1);
            }

            .menu__burger {
                display: block;
                overflow: hidden;
                cursor: pointer;
                margin: 0;
                padding: 0;
                width: 40px;
                height: 40px;
                font-size: 0;
                border-radius: 5px;
                position: relative;
            }

            .menu__burger span {
                display: block;
                position: absolute;
                background-color: #fff;
                height: 4px;
                width: 30px;
                top: 18px;
                left: 5px;
                right: 5px;
                transition: background 0s 0.3s;
            }

            .menu__burger span:after,
            .menu__burger span:before {
                position: absolute;
                display: block;
                height: 4px;
                width: 100%;
                background-color: #fff;
                content: '';
                transition-duration: 0.3s, 0.3s;
                transition-delay: 0.3s, 0s;
            }

            .menu__burger span:after {
                top: -10px;
            }

            .menu__burger span:before {
                bottom: -10px;
            }

            .menu__burger.close span {
                background: none;
            }

            .menu__burger.close span:after {
                top: 0px;
                transform: rotate(45deg);
            }

            .menu__burger.close span:before {
                bottom: 0px;
                transform: rotate(-45deg);
            }

            .header__navbar-menu {
                position: absolute;
                // display: none;

                flex-direction: column;
                top: 120px;
                text-align: center;
                width: 100%;
                background: #181818;
                opacity: 0;
                transition: all 0.5s ease;
                gap: 20px;

                .header__navbar_menu-item {
                    cursor: pointer;
                    padding: 10px;

                    color: #FFF;
                    text-align: center;

                    font-family: "GraphikMedium";
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    transition: all 0.4s ease;
                }

                .header__navbar_menu-item:hover {
                    color: #7a699c;
                }
            }

            .header__navbar-menu.active {
                display: flex;
                opacity: 1;
            }
        }

        .header__buttons {
            flex-direction: column;
        }
    }


    .main {
        .main__container-contents {
            .main__container-contents_cards {
                width: 100%;
                flex-direction: column;

                .main__container-contents_cards-item {
                    width: 100%;
                }
            }
        }
    }

    .main {
        .main__container-gallery {
            .main__container-gallery_small-cards {
                width: 100%;
                flex-direction: column;
            }
        }
    }

    .main {
        .main__container-testimonials {
            .main__container-testimonials-review {
                align-items: center;
                flex-direction: column;

                .main__container-testimonials-review_items {
                    width: 100%;
                    gap: 23px;

                    .main__container-testimonials-review_item {
                        width: 70%;
                    }
                }
            }
        }
    }

    .footer {
        flex-direction: column;
        gap: 80px;

        .footer__links {
            width: 60%;
        }
    }
}